.DS_Store
.build/
build/
DerivedData/
dist/
*.xcarchive
*.ipa
*.dSYM
*.dSYM.zip
*.mobileprovision
*.cer
*.p12
*.p8
.env
.env.*
!.env.example

*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate

fastlane/report.xml
fastlane/Preview.html
fastlane/test_output/
